
.media_list_grid_container {
  margin-top: 0;
  margin-left: 0;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .space_card_wrapper {
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .media_list_container {
    max-width: 90vw;
    padding: 0;
  }
  .space_card_wrapper {
    padding: 0;
    height: 90vh;
  }
}