.space_modal_container {
  width: 85vw;
  height: 85vh;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 2px solid #000;
  overflow: auto;
  box-shadow: 10px 10px 93px 0px rgb(255 255 255 / 36%);
}
.space_modal_img {
  width: 50%;
  height: auto;
  margin:auto;
}
.mui_modal {
  z-index: 99999;
}
.space_modal_img_wrapper{
    margin:auto;
    display: flex;
}
.space_modal_title{
    text-align: center;
}
.space_modal_explanation{
    padding: 0 20px;
}