@media only screen and (min-width: 576px) {
  .cover_img {
    height: 70vh;
  }
}

@media only screen and (min-width: 768px) {
  .cover_img {
    height: 100vh;
  }
}
.cover_img {
  height: 100vh;
  position: relative;
  z-index: 0;
  animation: slideIn 0.75s;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
.cover_img :global #particles {
  height: 60%;
  opacity: 0.7;
  position: absolute;
  top: 0;
  z-index: 100;
}
.cover_img :global canvas {
  width: 100%;
  height: 100%;
}
.cover_img_section {
  margin: 0;
  height: 100vh;
  width: 98vw;
  position: relative;
  background: url(/static/images/earth_outer_space.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.image_wrapper,
.astronaut_img {
  width: 100px;
  height: 100px;
}
.image_wrapper {
  animation: img_wrapper 13s linear infinite alternate;
}

.astronaut_img {
  animation: ast_img 7s linear infinite alternate;
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes img_wrapper {
  100% {
    transform: translateX(calc(98vw - 100px));
  }
}

@keyframes ast_img {
  100% {
    transform: translateY(calc(100vh - 100px)) rotate(360deg);
  }
}

@media only screen and (min-width: 576px) {
  .cover_img_container {
    max-width: 540px;
  }
}

@media only screen and (min-width: 768px) {
  .cover_img_container {
    max-width: 720px;
  }
}

.cover_img_container {
  width: 100%;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
}

.cover_img_text {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-60%, -50%);
  color: white;
  z-index: 9999;
}
.cover_img_title {
  margin-bottom: 30px;
}
.cover_img_title h2 {
  letter-spacing: 0.1em;
  line-height: 1.5;
  font-size: calc(1rem + 4.5vw);
  font-weight: 300;
  color: white;
  display: inline;
  margin: 0;
}
.cover_img_title span {
  font-size: calc(0.8rem + 4.5vw);
  font-weight: 300;
  color: white;
  display: inline;
  animation: blink 1s linear infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.smooth_scroll {
  color: #000;
  background-color: #fff;
  padding: 0.8rem 0.85rem;
  border-radius: 10px;
  letter-spacing: 0.05em;
  opacity: 0.8;
  font-size: 0.9em;
}

.cover_img_earth {
  right: -25%;
  top: 10%;
  width: 100%;
  filter: opacity(50%);
  position: absolute;
  z-index: -10;
}

@media only screen and (min-width: 768px) {
  .cover_img_earth {
    width: 60%;
    right: 0;
    top: 10%;
  }
}

@media only screen and (min-width: 992px) {
  .cover_img_earth {
    width: 55%;
    right: 5%;
    top: 0;
  }
}

@media only screen and (min-width: 1220px) {
  .cover_img_earth {
    width: 42%;
  }
}
@media only screen and (max-width: 768px) {
  .cover_img_text {
    position: relative;
    top: 0;
    left: 0;
    color: white;
    transform: none;
  }
  .cover_img_section {
    width: 105vw;
  }
}
@media (min-width: 1440px) {
  .cover_img_title {
    margin-bottom: 50px;
  }
 
 
  .smooth_scroll {
    padding: 0.8rem 0.85rem;
    border-radius: 15px;
    letter-spacing: 0.05em;
    opacity: 0.8;
    font-size: 1.9em;
  }
  .smooth_scroll i{
    margin-left: 5px;
  }
}
